<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850265360907-ddqaq0q805nof0kttj4t43vre40rmri8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850265360907-ddqaq0q805nof0kttj4t43vre40rmri8</string>
	<key>API_KEY</key>
	<string>AIzaSyADIWvHbLpu-cInAWAPQFUCVFljUu_HfW0</string>
	<key>GCM_SENDER_ID</key>
	<string>850265360907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postfaymTask</string>
	<key>PROJECT_ID</key>
	<string>postfaym</string>
	<key>STORAGE_BUCKET</key>
	<string>postfaym.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850265360907:ios:1592d69f1fa2474f8ad50e</string>
</dict>
</plist>